.App {
  text-align: left;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.App-logo {
  height: 50px;
}

.header-right {
  display: flex;
  align-items: center;
}

.social-icons {
  margin-right: 20px;
}

.docs-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.hero {
  padding: 50px;
  background-image: url(/Users/anthonyawoyele/hedgemony/public/hero-background.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  color: #D1C5F5BF;
  height: 80vh;
  width: 100vw;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
  height: 1.2em; /* Set a fixed height to prevent layout shifts */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.typing-effect {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  0% { border-color: transparent; }
  50% { border-color: orange; }
  100% { border-color: transparent; }
}

.hero h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
}

.under-construction {
  padding: 50px;
  text-align: center;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.small-logo {
  height: 30px;
  margin-right: 10px;
}

.footer {
  padding: 50px;
  background-color: #2f142f;
  background-size: cover;
  background-position: center;
  color: white; /* Adjust text color to be visible on the background */
  text-align: center;
}
