.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

.App-logo {
  height: 40px;
}

nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.docs-button {
  padding: 10px 20px;
  background-color: #2EBAC6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 50px 50px;
  background: url('./hero-background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 80vh;
}

.hero-content {
  text-align: left;
  max-width: 50%;
}

.typing-container {
  height: 1.2em; /* Adjust this value to match your desired height */
  margin-bottom: 70px;
}

.hero h1.typing-text {
  font-size: 4em;
  background: linear-gradient(90deg, #F386FF 0%, #FCE3FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

.hero h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #D1C5F5BF;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #D1C5F5BF;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #2EBAC6;
  color: #2EBAC6;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn:hover {
  background: linear-gradient(90deg, #F386FF 0%, #FCE3FF 100%);
  color: white;
  border-color: transparent;
}

.btn-primary {
  background-color: #2EBAC6;
  color: white;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #F386FF 0%, #FCE3FF 100%);
}


.hero-image {
  max-width: 50%;
  /* Add styles for your hero image or animation */
}

.footer {
  padding: 20px;
  background-color: #1B2030;
  color: white;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.small-logo {
  height: 30px;
  margin-right: 10px;
}
